* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-color: black;
    color: white;
}

#main {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
}

.leftcontent {
    width: 15vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-right: 1px solid #262626;
    position: fixed;
}

.logo {
    width: 96%;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 30px;
}


.leftcontent ul li {
    list-style: none;
    width: 110%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0px 10px 10px 10px;
    gap: 15px;
    cursor: pointer;
    padding-left: 20px;
    border-radius: 5px;
    transition: all 0.2s ease-in-out 0s;
}

.leftcontent ul li:hover {
    width: 110%;
    background-color: #1A1A1A;
}

#Profilepic {
    width: 25px;
    border-radius: 25px;
}

.downNav {
    width: 72%;
    height: 17.2vh;
    margin-top: 20px;
}

/* RightContent */

.rightcontent {
    width: 85vw;
    height: auto;
    margin-left: 230px;
    display: flex;
    justify-content: space-between;
    padding-left: 120px;
}


.storySection {
    width: 39.375rem;
    height: 7rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.storySection img {
    width: 70px;
    border-radius: 200px;
    margin-left: 20px;
    border: 2px solid rgb(255, 254, 254);
    padding: 5px;
}



.reels {
    width: 39.375rem;
    height: auto;
    margin-top: 20px;
    padding: 2px 0px;
}

.ReelProfile {
    width: 29.125rem;
    height: 3rem;
    margin: auto;
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
}

.reelProfileImg {
    position: absolute;
    left: 5px;
}

.reelProfileImg img {
    width: 40px;
    border-radius: 25px;

}

.ReelProfileName {
    position: absolute;
    left: 60px;
}

.ReelProfileHambuger {
    position: absolute;
    right: 5px;
}

.ReelsContent {
    width: 29.125rem;
    height: 100vh;
    margin: auto;
}

.ReelsContent video {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(253, 253, 253, 0.095);
}

.likeShare {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 80px;
}

.ProNameAndLikes {
    width: inherit;
    height: inherit;
    margin: 30px 80px;
}

.ProNameAndLikes p {
    margin: 20px 0px;
}

/* Profiel code starts here */

.PersonProfile {
    width: 24.438rem;
    height: 50vh;
    margin: 40px 100px 0px 0px;
    /* background-color: rgb(130, 99, 208); */
}

.ProfileTem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
}

.personProfilepic img {
    width: 40px;
    border-radius: 25px;
}

.personProfilepic {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 10px;
}

.suggested {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
}